{% extends 'base.html.twig' %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %}Mon compte - EcoIT{% endblock %}

{% block content %}
    <h1 class="title-center">Mon compte</h1>
    <p>
        Bienvenue {{ app.user.pseudo }}
    </p>
{% endblock %}
