{% extends 'base.html.twig' %}

{% block content %}
<div class="main-home-content">
    <h1>Bienvenue sur le site EcoIT</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur lacus nisi, ac feugiat mauris placerat vitae. Integer maximus egestas odio, eget lacinia nulla accumsan cursus. Proin at felis ut velit dictum consequat vitae ac lectus. Maecenas vitae ipsum ante. Vestibulum in ex in quam varius porta tempor vitae libero. Nam leo neque, luctus congue tortor et, commodo hendrerit nulla. Quisque in velit nisl. Ut scelerisque nisl nunc, sit amet mollis tortor commodo non. Cras felis dolor, elementum ac fringilla nec, pharetra in dolor. In pretium ultricies est ac placerat.
    </p>
    <p>
        Commencez maintenant et consultez toutes nos formations en cliquant sur le lien suivant!
    </p>
    <a href="" class="btn-home">Catalogue</a>
</div>
{% endblock %}
