{% extends 'base.html.twig' %}

{% block title %}Devenir instructeur - EcoIT{% endblock %}

{% block content %}
    <h1 class="title-center">Inscription</h1>
    <div class="form">
        {{ form(form) }}
    </div>
{% endblock %}
